<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <article class="contenedor01">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere qui repellendus, necessitatibus, cum eum
            quisquam exercitationem quibusdam rerum cupiditate sint pariatur saepe laudantium quasi minima quas
            temporibus, dolore nesciunt magnam!</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo eos delectus dignissimos optio reiciendis est
            quisquam? Eveniet provident voluptas exercitationem eum quis nam, doloribus recusandae accusamus repellendus
            consequatur. Officia, magnam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt autem, sequi
            cumque amet aliquam exercitationem tempora hic quis dolor expedita laboriosam eveniet, modi molestias magnam
            totam quidem ex porro debitis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo eos delectus dignissimos optio reiciendis est
            quisquam? Eveniet provident voluptas exercitationem eum quis nam, doloribus recusandae accusamus repellendus
            consequatur. Officia, magnam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt autem, sequi
            cumque amet aliquam exercitationem tempora hic quis dolor expedita laboriosam eveniet, modi molestias magnam
            totam quidem ex porro debitis.</p>
            <article class="contenedor02">
                Soy el contenedor 02
            </article>
    </article>

    <article class="contenedor02">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere qui repellendus, necessitatibus, cum eum
            quisquam exercitationem quibusdam rerum cupiditate sint pariatur saepe laudantium quasi minima quas
            temporibus, dolore nesciunt magnam!</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo eos delectus dignissimos optio reiciendis est
            quisquam? Eveniet provident voluptas exercitationem eum quis nam, doloribus recusandae accusamus repellendus
            consequatur. Officia, magnam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt autem, sequi
            cumque amet aliquam exercitationem tempora hic quis dolor expedita laboriosam eveniet, modi molestias magnam
            totam quidem ex porro debitis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo eos delectus dignissimos optio reiciendis est
            quisquam? Eveniet provident voluptas exercitationem eum quis nam, doloribus recusandae accusamus repellendus
            consequatur. Officia, magnam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt autem, sequi
            cumque amet aliquam exercitationem tempora hic quis dolor expedita laboriosam eveniet, modi molestias magnam
            totam quidem ex porro debitis.</p>
            <article class="contenedor01">
                Soy el contenedor 01
            </article>
    </article>

</body>

</html>